<div class="row padding" ng-controller="home.ctrl">
    <div class="col-12 mb-3">
        <div class="card">
            <div class="card-body">
                <div class="float-right">
                    <button type="button" class="btn btn-primary" ng-click="addAccount()">Add Account</button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 mb-5">
        <div class="card">
            <div class="card-body">
                <table class="table">
                    <tbody>
                    <tr>
                        <td>User ID</td>
                        <td>{{ loggedUser }}</td> <!-- RenderPageResult -->
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="col-12">
        <div id="boards-container" class="card-columns">
        </div>
    </div>
</div>